.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Node
node_modules
.DS_Store
dist
dist-ssr
*.local
*.idea/
.idea/shelf/Uncommitted_changes_before_Update_at_29_10_2021_11_47__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_29_10_2021_11_47_[Changes]/shelved.patch
.idea/shelf/Uncommitted_changes_before_Update_at_05_11_2021_11_39__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_05_11_2021_11_39_[Changes]/shelved.patch
.idea/.name
